# Class                      border        background      text         indicator      child_border
client.focused               #8148EC       #8148EC         #FFFFFF      #33CFA2        #8148EC
client.focused_inactive      #61AFEF       #61AFEF         #1E222A      #33CFA2        #61AFEF
client.unfocused             #2C3038       #2C3038         #FFFFFF      #98C379        #2C3038
client.urgent                #C678DD       #C678DD         #FFFFFF      #98C379        #C678DD
client.placeholder           #1E222A       #1E222A         #FFFFFF      #98C379        #1E222A