default_border none
default_floating_border none
font pango:monospace 0
titlebar_padding 1
titlebar_border_thickness 0




#
# Sway Window Rules
#

#
# Default workspaces for common programs
#


	# Auto float apps

	for_window [app_id="(font-manager|blueman-manager|pavucontrol|psensor|nemo|kitty|)"] floating enable

	


